@{
    
var produtoID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";
var db = Database.Open("CeliaJoias");
var sqlSelect = "SELECT * FROM Produtos A INNER JOIN Promocoes B ON A.CodProduto = B.Promocao_Produto WHERE B.PromocaoCod = @0";
var produto = db.QuerySingle(sqlSelect, produtoID);

if (produto == null)
{
  Response.Redirect("/sistema/promocoes/");   
}

   

//ultimos pedidos
var sqlPedidos = "SELECT UserProfile.Nome, Pedidos.CodPedido, Pedidos.CodUsuario, Pedidos.PedidoDataHora, Pedidos.Pedidoenviado, PedidoItens.Preco FROM UserProfile INNER JOIN (PedidoItens INNER JOIN Pedidos ON Pedidos.CodPedido = PedidoItens.CodPedido) ON Pedidos.CodUsuario = UserProfile.UserId where PedidoItens.CodProduto = @0 ORDER BY Pedidos.PedidoDataHora Desc";
//"SELECT Pedidos.CodPedido, Pedidos.CodUsuario, Pedidos.PedidoDataHora, Pedidos.Pedidoenviado, PedidoItens.Preco FROM Pedidos INNER JOIN PedidoItens ON Pedidos.CodPedido = PedidoItens.CodPedido where PedidoItens.CodProduto = @0 ORDER BY Pedidos.PedidoDataHora Desc";
var pedidos = db.Query(sqlPedidos, produtoID);

var totalpedidos = db.QueryValue("SELECT COUNT (CodProduto) FROM PedidoItens Where CodProduto = @0;", produtoID);


//Separação das Tag do produto
string[] ListaTag = produto.Tag.Split(',');
var qtdeTag =  ListaTag.Length;
}






}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Promoção - @produto.Titulo</title>
    
        <!-- Bootstrap framework -->
            <link rel="stylesheet" href="~/sistema/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/sistema/bootstrap/css/bootstrap-responsive.min.css" />
        <!-- gebo blue theme-->
            <link rel="stylesheet" href="~/sistema/css/blue.css" id="link_theme" />
        <!-- breadcrumbs-->
            <link rel="stylesheet" href="~/sistema/lib/jBreadcrumbs/css/BreadCrumb.css" />
        <!-- tooltips-->
            <link rel="stylesheet" href="~/sistema/lib/qtip2/jquery.qtip.min.css" />
        <!-- notifications -->
            <link rel="stylesheet" href="~/sistema/lib/sticky/sticky.css" />    
        <!-- splashy icons -->
            <link rel="stylesheet" href="~/sistema/img/splashy/splashy.css" />
		<!-- colorbox -->
            <link rel="stylesheet" href="~/sistema/lib/colorbox/colorbox.css" />
			
        <!-- main styles -->
            <link rel="stylesheet" href="~/sistema/css/style.css" />
			
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />
	
        <!-- Favicon -->
            <link rel="shortcut icon" href="favicon.ico" />
		
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="~/sistema/css/ie.css" />
            <script src="~/sistema/js/ie/html5.js"></script>
			<script src="~/sistema/js/ie/respond.min.js"></script>
        <![endif]-->
		
		<script>
			//* hide all elements & show preloader
			document.documentElement.className += 'js';
		</script>
    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
    <body>
		<div id="loading_layer" style="display:none"><img src="~/sistema/img/ajax_loader.gif" alt="" /></div>
		<div class="style_switcher">
			<div class="sepH_c">
				<p>Colors:</p>
				<div class="clearfix">
					<a href="javascript:void(0)" class="style_item jQclr blue_theme style_active" title="blue">blue</a>
					<a href="javascript:void(0)" class="style_item jQclr dark_theme" title="dark">dark</a>
					<a href="javascript:void(0)" class="style_item jQclr green_theme" title="green">green</a>
					<a href="javascript:void(0)" class="style_item jQclr brown_theme" title="brown">brown</a>
					<a href="javascript:void(0)" class="style_item jQclr eastern_blue_theme" title="eastern_blue">eastern blue</a>
					<a href="javascript:void(0)" class="style_item jQclr tamarillo_theme" title="tamarillo">tamarillo</a>
				</div>
			</div>
			<div class="sepH_c">
				<p>Backgrounds:</p>
				<div class="clearfix">
					<span class="style_item jQptrn style_active ptrn_def" title=""></span>
					<span class="ssw_ptrn_a style_item jQptrn" title="ptrn_a"></span>
					<span class="ssw_ptrn_b style_item jQptrn" title="ptrn_b"></span>
					<span class="ssw_ptrn_c style_item jQptrn" title="ptrn_c"></span>
					<span class="ssw_ptrn_d style_item jQptrn" title="ptrn_d"></span>
					<span class="ssw_ptrn_e style_item jQptrn" title="ptrn_e"></span>
				</div>
			</div>
			<div class="sepH_c">
				<p>Layout:</p>
				<div class="clearfix">
					<label class="radio inline"><input type="radio" name="ssw_layout" id="ssw_layout_fluid" value="" checked /> Fluid</label>
					<label class="radio inline"><input type="radio" name="ssw_layout" id="ssw_layout_fixed" value="gebo-fixed" /> Fixed</label>
				</div>
			</div>
			<div class="sepH_c">
				<p>Sidebar position:</p>
				<div class="clearfix">
					<label class="radio inline"><input type="radio" name="ssw_sidebar" id="ssw_sidebar_left" value="" checked /> Left</label>
					<label class="radio inline"><input type="radio" name="ssw_sidebar" id="ssw_sidebar_right" value="sidebar_right" /> Right</label>
				</div>
			</div>
			<div class="sepH_c">
				<p>Show top menu on:</p>
				<div class="clearfix">
					<label class="radio inline"><input type="radio" name="ssw_menu" id="ssw_menu_click" value="" checked /> Click</label>
					<label class="radio inline"><input type="radio" name="ssw_menu" id="ssw_menu_hover" value="menu_hover" /> Hover</label>
				</div>
			</div>
			
			<div class="gh_button-group">
				<a href="#" id="showCss" class="btn btn-primary btn-mini">Show CSS</a>
				<a href="#" id="resetDefault" class="btn btn-mini">Reset</a>
			</div>
			<div class="hide">
				<ul id="ssw_styles">
					<li class="small ssw_mbColor sepH_a" style="display:none">body {<span class="ssw_mColor sepH_a" style="display:none"> color: #<span></span>;</span> <span class="ssw_bColor" style="display:none">background-color: #<span></span> </span>}</li>
					<li class="small ssw_lColor sepH_a" style="display:none">a { color: #<span></span> }</li>
				</ul>
			</div>
		</div>
		
		<div id="maincontainer" class="clearfix">
			<!-- header -->
           @RenderPage("~/Sistema/Shared/Layout/_Top.cshtml")  
            
            <!-- main content -->
            <div id="contentwrapper">
                <div class="main_content">
                    <nav>
                        <div id="jCrumbs" class="breadCrumb module">
                            <ul>
                                <li>
                                    <a href="~/sistema/"><i class="icon-home"></i></a>
                                </li>
                                <li>
                                    <a href="~/sistema/produtos/">Promoção</a>
                                </li>
                                <li>
                                    <a href="">Visualizar</a>
                                </li>
                                <li>
                                    Produto: @produto.Titulo
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="row-fluid">
						<div class="span12">                            
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#tab_dr1" data-toggle="tab">Informações</a></li>
									<li><a href="#tab_dr2" data-toggle="tab">Imagens</a></li>
									<li class="dropdown">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu <b class="caret"></b></a>
										<ul class="dropdown-menu">


                                            <li><a href="#tab_dr3" data-toggle="tab">Editar o Produto</a></li>
											<li><a href="#tab_dr4" data-toggle="tab">Desativar o Produto</a></li>
											<li><a href="#tab_dr5" data-toggle="tab">Deletar o produto</a></li>
											<li class="divider"></li>
											<li><a href="~/sistema/produtos/">Relação de Produtos</a></li>
										</ul>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_dr1">
											<div class="row-fluid">
								                    <div class="span12">
									                    <div class="vcard">
										                    <img class="thumbnail" src="/images/produtos/mini_@produto.Imagem01" alt="" />
										                    <ul>
											                    <li class="v-heading">
												                    Informações 
											                    </li>
											                    <li>
												                    <span class="item-key">Nome:</span>
												                    <div class="vcard-item">@produto.Titulo</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Preço:</span>
												                    <div class="vcard-item">@String.Format("{0:C}", produto.Preco_Venda)</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Cód. Refência:</span>
												                    <div class="vcard-item">@String.Format("{0:00000}", produto.CodProduto)</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Descrição:</span>
												                    <div class="vcard-item">@produto.Descricao</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Anotação:</span>
												                     <div class="vcard-item">@if(produto.anotacao != null && produto.anotacao != ""){<text>@produto.anotacao</text>}else {<text>...</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Categoria:</span>
												                    <div class="vcard-item">@FuncaoProdutos.Categoria_PesqCodigo(produto.Categoria)</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Situação:</span>
												                    <div class="vcard-item">@if(produto.ativo){<text>Produto Ativo</text>}else {<text>Produto Desativado</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Destaque:</span>
												                    <div class="vcard-item">@if(produto.destaque){<text>Sim</text>}else {<text>Não</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Peso:</span>
												                    <div class="vcard-item">@if(produto.peso != null && produto.peso != ""){<text>@produto.peso</text>}else {<text>Não informado</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Fabricante:</span>
												                    <div class="vcard-item">@if(produto.fabricante > 0){<text>@FuncaoProdutos.Fabricante_PesqCodigo(produto.fabricante)</text>}else {<text>Não informado</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Tag:</span>
												                    <div class="vcard-item">													                   
                                                                        @if(qtdeTag > 0){
                                                                        for (int i = 0; i < qtdeTag;i++)
                                                                        {
                                                                            <text>
                                                                            <ul class="list_a">
                                                                                <li>@ListaTag[i]</li>
                                                                            </ul>
                                                                        </text>   
                                                                        }
                                                                        }else{
                                                                        <text><p>...</p></text>    
                                                                        }
													                    
												                    </div>
											                    </li>
											                    <li>
												                    <span class="item-key">Data do Cadastro:</span>
												                    <div class="vcard-item">@if(produto.datacadastro != null ){<text>@produto.datacadastro.ToString("dd/MM/yyyy 'às'  HH:mm 'hs'")</text>}else {<text>Não identificado</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Data da Ativação:</span>
												                    <div class="vcard-item">@if(produto.dataativacao != null ){<text>@produto.dataativacao.ToString("dd/MM/yyyy 'às'  HH:mm 'hs'")</text>}else {<text>Não identificado</text>}</div>
											                    </li>
											                    <li>
												                    <span class="item-key">Desativação:</span>
												                    <div class="vcard-item">@if(produto.datadesativacao != null){<text>@produto.datadesativacao.ToString("dd/MM/yyyy 'às'  HH:mm 'hs'")</text>}else {<text>Data não informada</text>}</div>
											                    </li>
											                    <li class="v-heading">
												                    Últimas negociações <span>(vendas)</span>
											                    </li>
											                    @if(totalpedidos > 1){
                                                                <text>
                                                                 <li>
												                    <ul class="unstyled sepH_b item-list">
                                                                         @foreach (var item in pedidos) { 
                                                                             <text>
                                                                             <li> @if(item.PedidoEnviado){
                                                                            <text>
                                                                            <i class="splashy-gem_okay"></i>
                                                                            </text>
                                                                            } else {
                                                                            <text>
                                                                            <i class="splashy-gem_cancel_1"></i>
                                                                            </text>                                                                                
                                                                            }
                                                                             Vendido à <a  href="~/sistema/clientes/usuario/@item.CodUsuario">@item.Nome</a> no dia @item.PedidoDataHora por @String.Format("{0:C}", item.Preco ) (<a  href="~/sistema/pedidos/visualizar/@item.CodPedido">Pedido n.º @String.Format("{0:00000}", item.CodPedido)</a>).</li>
                                                                            </text>
                                                                          }
													                  
												                    </ul>
												                    <a href="#" data-items="5" class="item-list-show btn btn-mini">Exibir +5...</a>
											                    </li>		
                                                                </text>
                                                                } else {<text>
                                                                <li><p>Nenhum registro encontrado</p>                                                                
                                                                </li>
                                                                </text>}
									                   
										                    </ul>

									                    </div>

								                    </div>
							</div>	
									</div>
									<div class="tab-pane" id="tab_dr2">										
                                        <div class="row-fluid">
						                                        <div class="span10">							
							                                        <div class="wmk_grid" id="large_grid" style="height: 1208px;">
								                                        <ul>
                                                                            @if(produto.Imagem01 != null  && produto.Imagem01 != ""  ){
                                                                                <text>
                                                                                    <li class="thumbnail" style="width: 234.5px; position: absolute; top: 0px; left: 3px; display: list-item;">
										                                                <a title="imagem 01" href="/images/produtos/@produto.Imagem01" rel="gallery" class="cboxElement">
											                                                <img alt="" src="/images/produtos/@produto.Imagem01">
										                                                </a>
										                                                <p>
											                                                <a title="Remover" href="javascript:void(0)"><i class="icon-trash"></i></a>
											                                                <span>Imagem 01</span>
										                                                </p>
									                                                </li>
                                                                                </text>
                                                                            }
                                                                            @if(produto.Imagem02 != null && produto.Imagem02 != ""  ){
                                                                                <text>
                                                                                    <li class="thumbnail" style="width: 234.5px; position: absolute; top: 0px; left: 3px; display: list-item;">
										                                                <a title="imagem 02" href="/images/produtos/@produto.Imagem02" rel="gallery" class="cboxElement">
											                                                <img alt="" src="/images/produtos/@produto.Imagem02">
										                                                </a>
										                                                <p>
											                                                <a title="Remover" href="javascript:void(0)"><i class="icon-trash"></i></a>
											                                                <span>Imagem 02</span>
										                                                </p>
									                                                </li>
                                                                                </text>
                                                                            }
                                                                            @if(produto.Imagem03 != null && produto.Imagem03 != ""  ){
                                                                                <text>
                                                                                    <li class="thumbnail" style="width: 234.5px; position: absolute; top: 0px; left: 3px; display: list-item;">
										                                                <a title="imagem 03" href="/images/produtos/@produto.Imagem03" rel="gallery" class="cboxElement">
											                                                <img alt="" src="/images/produtos/@produto.Imagem03">
										                                                </a>
										                                                <p>
											                                                <a title="Remover" href="javascript:void(0)"><i class="icon-trash"></i></a>
											                                                <span>Imagem 03</span>
										                                                </p>
									                                                </li>
                                                                                </text>
                                                                            }
                                                                            @if(produto.Imagem04 != null  && produto.Imagem04 != "" ){
                                                                                <text>
                                                                                    <li class="thumbnail" style="width: 234.5px; position: absolute; top: 0px; left: 3px; display: list-item;">
										                                                <a title="imagem 04" href="/images/produtos/@produto.Imagem04" rel="gallery" class="cboxElement">
											                                                <img alt="" src="/images/produtos/@produto.Imagem04">
										                                                </a>
										                                                <p>
											                                                <a title="Remover" href="javascript:void(0)"><i class="icon-trash"></i></a>
											                                                <span>Imagem 04</span>
										                                                </p>
									                                                </li>
                                                                                </text>
                                                                            }
                                                                            @if(produto.Imagem05 != null && produto.Imagem05 != ""  ){
                                                                                <text>
                                                                                    <li class="thumbnail" style="width: 234.5px; position: absolute; top: 0px; left: 3px; display: list-item;">
										                                                <a title="imagem 05" href="/images/produtos/@produto.Imagem05" rel="gallery" class="cboxElement">
											                                                <img alt="" src="/images/produtos/@produto.Imagem05">
										                                                </a>
										                                                <p>
											                                                <a title="Remover" href="javascript:void(0)"><i class="icon-trash"></i></a>
											                                                <span>Imagem 05</span>
										                                                </p>
									                                                </li>
                                                                                </text>
                                                                            }
									
								                                        </ul>
							                                        </div>
						                                        </div>
					                                        </div>
									</div>
									<div class="tab-pane" id="tab_dr3">
                                        <div class="span12">
							                <div class="alert alert-block alert-info fade in">								
								                <h4 class="alert-heading">Editar o produto</h4>
								                <p>Clique no botão abaixo para editar o produto </p>
								                <p><a class="btn btn-inverse" href="#"><i class="splashy-check"></i> Editar o Produto</a> </p>
							                </div>
						                </div>
									</div>
									<div class="tab-pane" id="tab_dr4">
						                <div class="span12">
							                <div class="alert alert-block alert-warning fade in">								
								                <h4 class="alert-heading">Desabilitar o produto</h4>
								                <p>Tem certeza que deseja desabilitar o produto? </p>
								                <p><a class="btn btn-inverse" href="#"><i class="splashy-check"></i> Desabilitar o Produto</a> </p>
							                </div>
						                </div>
									</div>
									<div class="tab-pane" id="tab_dr5">
						                <div class="span12">
							                <div class="alert alert-block alert-error fade in">								
								                <h4 class="alert-heading">Deletar o produto</h4>
								                <p>Tem certeza que deseja excluir o produto? </p>
								                <p><a class="btn btn-inverse" href="#"><i class="splashy-check"></i> Confirmar Exclusão</a> </p>
							                </div>
						                </div>
									</div>
								</div>
							</div>
						



						
						</div>
					</div>
                        
                </div>
            </div>
            
            @RenderPage("~/Sistema/Shared/Layout/_MenuLateral.cshtml")    
			
            <script src="~/sistema/js/jquery.min.js"></script>
			<!-- smart resize event -->
			<script src="~/sistema/js/jquery.debouncedresize.min.js"></script>
			<!-- hidden elements width/height -->
			<script src="~/sistema/js/jquery.actual.min.js"></script>
			<!-- js cookie plugin -->
			<script src="~/sistema/js/jquery.cookie.min.js"></script>
			<!-- main bootstrap js -->
			<script src="~/sistema/bootstrap/js/bootstrap.min.js"></script>
			<!-- tooltips -->
			<script src="~/sistema/lib/qtip2/jquery.qtip.min.js"></script>
			<!-- jBreadcrumbs -->
			<script src="~/sistema/lib/jBreadcrumbs/js/jquery.jBreadCrumb.1.1.min.js"></script>
			<!-- fix for ios orientation change -->
			<script src="~/sistema/js/ios-orientationchange-fix.js"></script>
			<!-- scrollbar -->
			<script src="~/sistema/lib/antiscroll/antiscroll.js"></script>
			<script src="~/sistema/lib/antiscroll/jquery-mousewheel.js"></script>
			<!-- lightbox -->
            <script src="~/sistema/lib/colorbox/jquery.colorbox.min.js"></script>
            <!-- common functions -->
			<script src="~/sistema/js/gebo_common.js"></script>
			
			<!-- user profile (static) functions -->
			<script src="~/sistema/js/gebo_user_static.js"></script>

            			<!-- colorbox -->
			<script src="~/sistema/lib/colorbox/jquery.colorbox.min.js"></script>
			<!-- multi-column layout -->
			<script src="~/sistema/js/jquery.imagesloaded.min.js"></script>
			<script src="~/sistema/js/jquery.wookmark.js"></script>
			<!-- gallery functions -->
			<script src="~/sistema/js/gebo_gallery.js"></script>
			
			<script>
				$(document).ready(function() {
					//* show all elements & remove preloader
					setTimeout('$("html").removeClass("js")',1000);
				});
			</script>
		
		</div>
	</body>
</html>



