@{

// Cria um carrinho vazio na sessão se ele não exitir
if (Session["carrinho"] == null)
{
   Session["carrinho"] = new Carrinho();
}
// Pega o carrinho atual da Sessão
Carrinho carrinho = (Carrinho)Session["carrinho"];


//decimal TxEntrega = FuncaoEntrega.CalculoFrete();
    

//Regra para cobrança de Frete
var FreteGratis_Estado = "RJ";
int FreteGratis_ValorMinimo = 500 ;

//Contador de Itens no carrinho
int i = 0;
int QtdeExtra = carrinho.Itens.Count() - 3;
string QtdeTexto = "Existem " + QtdeExtra + " produtos não visulizados nesta janela";
if(QtdeExtra == 1){
    QtdeTexto = "Existe 01 produto não visulizado nesta janela";   
}



//Colocar o carrinho de compras em ordem decrescente
var  carrinhoDesc = from h in carrinho.Itens 
                                orderby h.ProdutoID descending
                                select h;



var contHistorico = 0;

double total = carrinhoDesc.Count()-1;
var LinhascarrinhoDesc =  System.Math.Ceiling(total/4); 


List<int> listaCarrinho = new List<int>();
foreach (var row in carrinhoDesc) {	
listaCarrinho.Add(row.ProdutoID);
}


}



            <div class="span3">
                <div class="cart-container" id="cartContainer">
                    <div class="cart">
                        <p class="items">Compras <span class="dark-clr">(@carrinho.Itens.Count() )</span></p>
                        <p class="dark-clr hidden-tablet">@String.Format("{0:C}", carrinho.ValorTotal)</p>
                        <a href="/compra/etapa-1" class="btn btn-danger">
                            <!-- <span class="icon icons-cart"></span> -->
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="open-panel">
                     @foreach (var item in listaCarrinho){
                        <text>
                        <div class="item-in-cart clearfix">
                            <div class="image">
                                <img src="/images/produtos/mini_@FuncaoProdutos.Produto_Imagem(item)" STYLE="width:62px; height:62px" alt="cart item" />
                            </div>
                            <div class="desc">
                            <strong><a href="~/produto/@item">@FuncaoProdutos.Produto_Titulo(item)</a></strong>       
                            <form action="/compra/compra" method="post">
                            <input type="hidden" value="@i" id="removerIndice" name="removerIndice" />  
                            <input type="hidden" name="url" size="2" value="@HttpContext.Current.Request.Url.AbsolutePath" />
                            <span class="light-clr qty">
                                <input type="submit" class="btn btn-mini push-down-10" value="Remover" />
                             </span>
                             </form>
                            </div>
                            <div class="price">
                                <strong>@String.Format("{0:C}", FuncaoProdutos.Produto_Preco(item)[1])</strong>
                            </div>
                        </div>
                        </text>
                        i++;
                        if(i>2  && @carrinho.Itens.Count()>4 ){
                            break;
                        }
                     }
                        
                       @if(@carrinho.Itens.Count()>4){<text>
                        <br>
                        <div class="alert in fade span4">
                             <small>
                                @QtdeTexto, <br> <a href="/compra/etapa-1"  > Clique aqui</a> para visualizar todos os produtos.   
                             </small>
                          
                        </div>

                        </text>}

                        <div class="summary">


                            
                            <div class="line">
                                <div class="row-fluid">
                                    <div class="span6">Total:</div>
                                    <div class="span6 align-right size-16">@String.Format("{0:C}", carrinho.ValorTotal)</div>
                                </div>
                            </div>
                        </div>
                        <div class="proceed">
                            @if(carrinho.Itens.Count() == 0){
                            <text>
                            <a href="/compra/etapa-1" class="btn btn-danger pull-right bold higher">VAZIO <i class="icon-shopping-cart"></i></a>   
                            </text>} else 
                            {<text> 
                            <a href="/compra/etapa-1" class="btn btn-danger pull-right bold higher">CONCLUIR <i class="icon-shopping-cart"></i></a>
                             </text>}
                        
                        <small>Frete gratuíto para entregas no estado do @FreteGratis_Estado ou compras acima de @String.Format("{0:C}", FreteGratis_ValorMinimo). <a href="#">Maiores informações</a></small>
                        </div>


                      
                    </div>
                </div>
            </div> 