@{
    



if (Session["historico"] == null) // Cria um historico vazio na sessão se ele não exitir
{
   Session["historico"] = new Historico();
}

Historico historico = (Historico)Session["historico"];// Pega o historico atual da Sessão

var  historicoDesc = from h in historico.Itens 
                                orderby h.ProdutoID descending
                                select h;



var contHistorico = 0;

double total = historicoDesc.Count()-1;
var LinhasHistoricoDesc =  System.Math.Ceiling(total/4); 


List<int> listaHistorico = new List<int>();
foreach (var row in historicoDesc) {	
listaHistorico.Add(row.CodProduto);
}




    
}



   
    <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
<footer>
        
        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span8">

 <!-----------------slider-->
                 @if(historicoDesc.Count()>0){<text>



            	<div class="main-titles lined">
            	    <h2 class="title"><span class="light">Produtos</span> Visitados</h2>
            	    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                    </div>
            	</div>
         
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
             
                @for(int l= 0; l< LinhasHistoricoDesc; l++){<text>
                     
                   
                   
                      <div class="slide">
                        <div class="row">
                    	 
                     @for(int i= 0; i< 4 && contHistorico < historicoDesc.Count(); i++){	<text>  
                    	
                    	 
                	            	
    	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span2">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img STYLE="width:140px; height:150px" src="~/images/produtos/@FuncaoProdutos.Produto_Imagem(listaHistorico[contHistorico])" alt=""  />
    	            	        		<div class="img-overlay">
    	            	        		 <a href="/produto/@listaHistorico[contHistorico]" class="btn more btn-success">@FuncaoProdutos.Produto_Titulo(listaHistorico[contHistorico]) <br> @String.Format("{0:C}",FuncaoProdutos.Produto_Preco(listaHistorico[contHistorico]))</a>  
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        
    	            	    </div>
                	      </div> 
                        <!-- /product -->
    	            	 
            	    </text>
                    contHistorico++; 
                    }
               	 
            	        </div>
            	    </div>


                </text>
                     
                }

            	  


                </div> <!-- /carousel -->








                 </text>} else {<text>             
                 <p>Nenhum produto visualizado</p>                        
                 </text>}



 <!-----------------slider-->
                    </div>
                    
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Inscrição no</span> Informativo</h3>
                        </div>
                        <br><br>

                        <p>Cadastre-se e receba Novidades e Ofertas Exclusivas. </p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="/conta/cadastroinformativo" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline"  novalidate="" >
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Digite aqui o seu e-mail." name="EMAIL" class="required email" id="mce-EMAIL" />
                                <input type="hidden" name="url" size="2" value="@HttpContext.Current.Request.Url.AbsolutePath" />                                                    
                                <input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" />
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            
                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->
        
        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">
                    
                    <!--  ==========  -->
                    <!--  = Menu 1 =  -->
                    <!--  ==========  -->
                    <div class="span2">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Acesso </span>Rápido</h3>
                        </div>
                        <ul class="nav bold">
                            <li><a href="/sobre">Quem somos</a></li>
                            <li><a href="/sobre#comprasegura">Compra Segura</a></li>
                            <li><a href="/sobre#politicatroca">Trocas e Devoluções</a></li>
                            <li><a href="/sobre#politicaprivacidade">Política de Privacidade</a></li>
                            <li><a href="/contato">Área do Cliente</a></li>
                        </ul>
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 2 =  -->
                    <!--  ==========  -->
                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Formas de </span>Pagamento</h3>
                        </div class="bordered">
                       <img STYLE="width:400px; height:100px"  src="/images/pagseguro.png" alt="PagSeguro" />
                    </div>
                    
                    <!--  ==========  -->
                    <!--  = Menu 3 =  -->
                    <!--  ==========  -->
         <div class="span6">
                        <div class="bordered">
                            <div class="fill-iframe">
                                <div class="fb-like-box" data-href="https://www.facebook.com/celiajoias.loja" data-width="600" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div> <!-- /middle footer -->
        
        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="span6">
                         @DateTime.Now.Year &copy; Célia Jóias - Todos os direitos reservados
                    </div>
                    <div class="span6">
                        <div class="pull-r
                             ight">Desenvolvido por <a href="http://rdcsoluções.com.br/" target="_blank">RDC Soluções</div>
                    </div>
                </div>
            </div>
        </div> <!-- /bottom footer -->
    </footer>    
<!-- /footer -->
    
    
    
 @RenderPage("~/Shared/Layout/_modal.cshtml")  