@{

var TituloPagina = "Categorias";

var categoriaTitulo = UrlData[0];

var db = Database.Open("CeliaJoias");

var sqlSelect = "";

if (categoriaTitulo.IsEmpty())
{
//   Response.Redirect("/Default");

sqlSelect = "SELECT * FROM Produtos  " +
                       "LEFT OUTER JOIN Categoria ON Produtos.Categoria = Categoria.CodCategoria Where Produtos.Ativo = 'true' ";

} else {
sqlSelect = "SELECT * FROM Produtos " +
                       "LEFT OUTER JOIN Categoria ON Produtos.Categoria = Categoria.CodCategoria " +
                      "WHERE Categoria.Apelido = @0 AND Produtos.Ativo = 'true'" ;

//select Titulo from categoria where Apelido = 'aneis'
// "select Titulo from categoria where Apelido = 'aneis'"

var sqlCategoriaTitulo = "select Titulo from categoria where Apelido  = @0";



var CategoriaTituloPagina =  db.Query(sqlCategoriaTitulo, categoriaTitulo); 
foreach (var item in CategoriaTituloPagina) {
    TituloPagina = item.Titulo;
    }




}


var produtos = db.Query(sqlSelect, categoriaTitulo);



bool ExibirLista = false;

    
}

 
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Célia Jóias - @TituloPagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="ProteusThemes" />

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css' />
    
    <!-- Twitter Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/responsive.css" rel="stylesheet" />
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="/js/rs-plugin/css/settings.css" type="text/css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="/js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <!-- main styles -->
     
    <link href="/stylesheets/main.css" rel="stylesheet" />
     
    

    <!-- Modernizr -->
    <script src="/js/modernizr.custom.56918.js"></script>    

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch/144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch/72.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch/57.png" />
    <link rel="shortcut icon" href="/images/apple-touch/57.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  
  
  
  
  </head>

   
  <body>
   
    
    @RenderPage("~/Shared/Layout/_top.cshtml")  
    
    

    
    <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
        	<div class="row">
        		<div class="span12">
        		    <ul class="breadcrumb">
	                    <li>
	                        <a href="~/">Inicio</a>
	                    </li>
	                    <li><span class="icon-chevron-right"></span></li>
	                    <li>
	                        <a href="#">Categorias</a>
	                    </li>
	                    <li><span class="icon-chevron-right"></span></li>
	                    <li>
	                        <a href="#">@TituloPagina</a>
	                    </li>
	                </ul>
        		</div>
        	</div>
        </div>
    </div>

    <div class="container">
        <div class="push-up blocks-spacer">
            <div class="row">
                <section class="span12">
                    
                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <div class="row">
                            <div class="span6">
                                <h3><span class="light">Categoria: </span> @TituloPagina</h3>
                            </div>
                            <div class="span6">
                                <div class="form-inline sorting-by">
                                    <label for="isotopeSorting" class="black-clr">Ordenar por: </label>
                                    <select id="isotopeSorting" class="span3">
                                        <option value='{"sortBy":"price", "sortAscending":"true"}' />Por Preço (Menor preço) &uarr;
                                        <option value='{"sortBy":"price", "sortAscending":"false"}' />Por Preço (Maior preço) &darr;
                                        <option value='{"sortBy":"name", "sortAscending":"true"}' /> Alfabética(A - Z) &uarr;
                                        <option value='{"sortBy":"name", "sortAscending":"false"}' /> Alfabética (Z - A) &darr;
                                        <option value='{"sortBy":"popularity", "sortAscending":"true"}' />Populares (Mais) &uarr;
                                        <option value='{"sortBy":"popularity", "sortAscending":"false"}' />Populares (Menos) &darr;
                                    </select>
                                    
                                    <label for="numberShown" class="black-clr">Exibir:</label>
                                    <select id="numberShown" class="span1">
                                        <option value="9" />8
                                        <option value="15" />16
                                        <option value="30" />3
                                    </select>
                                </div>
                            </div> <!-- /sorting and number shown -->
                        </div>
                    </div> <!-- /title -->
                    
                    <!--  ==========  -->
                    <!--  = Products =  -->
                    <!--  ==========  -->
                    <div class="row popup-products">
                        <div id="isotopeContainer" class="isotope-container pagination">
                    	  

                    	    @foreach (var item in produtos) {<text>



                           
                    	    <div class="span3 filter--shorts" data-price="1418" data-popularity="1" data-size="xs|xxl" data-color="pink|orange" data-brand="puma">
                    	        <div class="product">
                    	             
                    	                <div class="stamp green">Novo</div>
                	                 
                    	            <div class="product-img">
                    	                <div class="picture">
                    	                    <img STYLE="width:270px; height:270px" alt="" src="/images/produtos/@item.Imagem01" />
                    	                   
                                                <div class="img-overlay">
    	            	                            
                                                     <a href="~/produto/@item.CodProduto" class="btn more btn-primary"><i class="icon-search"></i> &nbsp; Detalhes</a>
                  
                                                     <form action="/compra/compra" class="form form-inline clearfix" method="post">                                                                                                                                                                    
                                                     <input type="hidden" name="produtoid" size="2" value="@item.CodProduto" />
                                                     <input type="hidden" name="preco" size="2" value="@item.Preco_Venda" />
                                                     <input type="hidden" name="quantidade" size="2" value="1" />
                                                     <input type="hidden" name="url" size="2" value="@HttpContext.Current.Request.Url.AbsolutePath" />                                                    
                                                      <button class="btn buy btn-danger"><i class="icon-shopping-cart"></i> &nbsp; Comprar</button>                                                    
                                                     </form>
                                                    
    	                                        </div>

                    	                </div>
                    	            </div>
                    	            <div class="main-titles no-margin">
                    	                 
                    	                <h4 class="title">@String.Format("{0:C}", item.Preco_Venda) </h4>
                    	                 
                    	                <h5 class="no-margin isotope--title">@item.Titulo</h5>
                    	            </div>
                    	            <p class="center-align stars">
                    	                <span class="icon-star stars-clr"></span>
                    	                <span class="icon-star"></span>
                    	                <span class="icon-star"></span>
                    	                <span class="icon-star"></span>
                    	                <span class="icon-star"></span>
                    	                 
                    	            </p>
                    	        </div> 
                    	    </div>
                            

                    	    </text>}
                    	    


                    	</div> <!-- /isotope-container -->
                	</div> <!-- /popup-products -->
                	<hr />
                	
                	<!--  ==========  -->
					<!--  = Pagination =  -->
					<!--  ==========  -->
            	    <div class="pagination pagination-centered">
                        <ul>
                            <li><a href="#" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        </ul>
                    </div> <!-- /pagination -->
                </section> <!-- /span12 -->
            </div>
        </div>

        
        <div>
        <!---------------------teste-->
        <hr>

            <div class="exemplos">
        <div id="example1">
            <div><p>Conteudo da primeira div...</p></div>
            <div><p>Conteudo da segunda div...</p></div>
            <div><p>Conteudo da terceira div...</p></div>
        </div>
    </div>

        </div>
</body>
</html>
 


        </div>

    </div> <!-- /container -->
    
     
   @RenderPage("~/Shared/Layout/_footer.cshtml")  

    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->
    
    <!--  = FB =  -->
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    




    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="js/jquery.min.js"><\/script>');
    }
    </script>

<!-------------------Teste-->
<script src="/js/jquery.pager.js" language="javascript"></script>
<script>
$(document).ready( function(){
	$('#example1').pager('div');
});
</script>

<!-------------------Teste-->
    
    <!--  = _ =  -->
    <script src="/js/underscore/underscore-min.js" type="text/javascript"></script>
    
    <!--  = Bootstrap =  -->
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  = Slider Revolution =  -->
    <script src="/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    
    <!--  = CarouFredSel =  -->
    <script src="/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    
    <!--  = jQuery UI =  -->
    <script src="/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    
    <!--  = Isotope =  -->
    <script src="/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    
    <!--  = Tour =  -->
    <script src="/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    
    <!--  = PrettyPhoto =  -->
    <script src="/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    
    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
    <script type="text/javascript" src="/js/goMap/js/jquery.gomap-1.3.2.min.js"></script>
    
    <!--  = Custom JS =  -->
    <script src="/js/custom.js" type="text/javascript"></script>






  </body>
</html>

    
    