@{
    
var usuarioAtual = WebSecurity.CurrentUserId;
var db = Database.Open("CeliaJoias");

//Opção de envio
bool copiaEmail = true; 
    
// Cria um carrinho vazio na sessão se ele não exitir
if (Session["carrinho"] == null)
{
   Session["carrinho"] = new Carrinho();
}
// Pega o carrinho atual da Sessão
Carrinho carrinho = (Carrinho)Session["carrinho"];

string pedidoCep = "";

var DataPedido = DateTime.Now;


if(IsPost){
    
    pedidoCep = Request["cep"];

   //  if(pedidoCep == carrinho.Cep){

          //---------------------------------------Pedido Ok
          // salva pedido
            var UsuarioID = WebSecurity.GetUserId(WebSecurity.CurrentUserName);
          //  var db = Database.Open("TecnoSite");
        
          var pedidoSQL = "INSERT INTO Pedidos (CodUsuario, pedidoEnviado, pedidoTotal, " +
          "pedidoDataHora, logradouro, bairro,cidade, uf, pais, cep, complemento,numero) VALUES ( @0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10, @11)";
        
          db.Execute(pedidoSQL,UsuarioID,false,carrinho.ValorTotal,DataPedido,carrinho.Logradouro,carrinho.Bairro,carrinho.Cidade,carrinho.Estado,"Brasil",carrinho.Cep, carrinho.Complemento, carrinho.Numero);
        
          var pedidoId = db.GetLastInsertId();
        
          foreach(var item in carrinho.Itens)
          {
                pedidoSQL = "INSERT INTO PedidoItens (CodPedido, CodProduto, preco, descricao) VALUES (@0, @1, @2, @3)";
                db.Execute(pedidoSQL, pedidoId, item.ProdutoID,  item.Preco, item.Descricao);
          }
        
        
          //Corpo da Mensagem

             if(carrinho.Complemento != ""){carrinho.Complemento = "<br />Complemento:" + carrinho.Complemento;}

            var Corpo = "<table style='width: 520px; margin-left: auto; margin-right: auto; border: 1px solid #e4e2e2;'> <tbody>  <tr>   <td><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'><img src='http://www.celiajoias.com/image/logo.png' /></span></span>   </td>  </tr>  <tr>   <td style='background-color: #f6f3f3;'>    <table style='width: 500px; margin-left: auto; margin-right: auto;'>     <tbody>      <tr>       <td>        <p>&nbsp;</p>        <p style='text-align: justify;'>Prezado(a) " ;
            Corpo += FuncaoUsuarios.NomeComepleto_PeloCod(UsuarioID) +",</p> <p style='text-align: justify;'>Obrigado por comprar no CeliaJoias.com<br />Recebemos seu pedido feito em <strong>";
            Corpo += DataPedido +"</strong>.</p><h2 style='text-align: justify;'> Nº do pedido:<br />";
            Corpo += String.Format("{0:000000}", pedidoId) +"</h2>        <p style='text-align: justify;'>O prazo de entrega será em até 03 dia(s) útil(eis) após a confirmação do pagamento.</p>        <p style='text-align: justify;'>Para sua segurança, se houver qualquer divergência de informações cadastrais, endereço de entrega e de pagamento, entraremos em contato para confirmar os dados antes de enviar os produtos.</p>        <p style='text-align: justify;'>Enviaremos um novo e-mail a cada evolução no andamento do seu pedido. Caso prefira, você pode acompanhar também pelo site.</p><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'></span></span>       </td>      </tr>      <tr>       <td>        <p>&nbsp;</p>       </td>      </tr>     </tbody>    </table>   </td>  </tr>  <tr>   <td><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'></span></span> </span>    <table align='center' style='width: 100%;'>     <tbody>      <tr>       <td>        <p>&nbsp;</p>       </td>      </tr>      <tr>       <td>        <p><strong>Resumo do Pedido:</strong>        </p>        <table align='center' style='width: 100%;'>         <tbody>          <tr>           <td>Produto</td>           <td>Qtde</td>           <td>Preço</td>           <td>Total</td>          </tr>";
            foreach(var item in carrinho.Itens)
            {
              Corpo += " <tr> <td>" + FuncaoProdutos.Produto_Titulo(item.ProdutoID) +"</td>           <td>1</td>           <td>" +  String.Format("{0:C}", item.Preco) +"</td>           <td>" +  String.Format("{0:C}", item.Preco) + "</td>          </tr>";
            }
             Corpo += "<tr>           <td colspan='3'>            <hr />           </td>           <td>            <hr />           </td>          </tr>          <tr>           <td colspan='3'>Sub-Total:</td>           <td>";
             Corpo +=  String.Format("{0:C}", carrinho.ValorTotal) +"</td>          </tr>          <tr>           <td colspan='3'>Descontos:</td>           <td>R$ 0,00</td>          </tr>          <tr>           <td colspan='3'>Despesa c/ Entrega:</td>           <td>R$ 0,00</td>          </tr>          <tr>           <td colspan='3'>Total:</td>           <td>" + String.Format("{0:C}", carrinho.ValorTotal) + "</td>          </tr>         </tbody>        </table>        <p>&nbsp;</p>       </td>      </tr>      <tr>       <td><strong>Endereço de Entrega:</strong><br /> Logradouro: ";
             Corpo += carrinho.Logradouro +", " +carrinho.Numero + " - "+ carrinho.Complemento + "<br /> Bairro: " + carrinho.Bairro + "<br /> Cidade: "  + carrinho.Cidade + "<br />CEP:" + carrinho.Cep + " Estado:" + carrinho.Estado +  "</td>      </tr>     </tbody>    </table><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'><br /></span></span>   </td>  </tr>  <tr>   <td style='background-color: #f6f3f3;'><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'></span></span> </span>    <table align='center' style='width: 500px;'>     <tbody>      <tr>       <td>        <p><strong>IMPORTANTE:</strong>        </p>        <p><strong>Aprovação da compra</strong>        </p>        <ul>         <li>Caso a aprovação do pagamento pela instituição financeira ocorra após às 20h, a data de entrega será acrescida mais 1 dia útil.</li>        </ul>        <p><strong>Alteração de pedido</strong>        </p>        <ul>         <li>A partir deste momento não é possível a inclusão ou exclusão de itens no pedido.</li>        </ul>        <p><strong>Sobre a entrega</strong>        </p>        <ul>         <li>Se houver diferença de prazos para cada item, a entrega será feita parcialmente, conforme disponibilidade e os prazos específicos.</li>         <li>Caso a entrega tenha sido agendada, aguarde o recebimento do produto na data e turno informados.</li>        </ul>        <p>Se houver dúvidas em relação ao seu pedido, acesse aqui e fale conosco.</p>        <p>Agradecemos por escolher a CéliaJóias.com. Esperamos ter você sempre como nosso cliente.</p>       </td>      </tr>     </tbody>    </table><span color='#333333' face='Tahoma, Helvetica, Arial, sans-serif' style='color: #333333; font-family: Tahoma, Helvetica, Arial, sans-serif;'><span style='font-size: 12px; line-height: 15.796875px;'></span></span>   </td>  </tr>  <tr>   <td style='background-color: #604261;'>    <table align='center' style='width: 500px;'>     <tbody>      <tr>       <td>        <p style='text-align: right;'><span style='color: #ffffff;'><strong>&nbsp;</strong></span>        </p>        <p style='text-align: right;'><span style='color: #ffffff;'>Atenciosamente,</span>        </p>        <p style='text-align: right;'><span style='color: #ffffff;'>Célia Jóias.com</span><br /><a href='http://www.CeliaJoias.com' target='_blank'><span style='color: #ffff00;'><span style='color: #ffff00;'>www.CeliaJoias.com</span></span></a>        </p>        <p style='text-align: right;'><span style='color: #ffffff;'><strong>&nbsp;</strong></span>        </p>       </td>      </tr>     </tbody>     </table>   </td>  </tr> </tbody></table>";
        



            // Envia email de confirmação        
            WebMail.Send(to: WebSecurity.CurrentUserName,subject: "Célia Jóias - Confirmação de Pedido",
            body: Corpo);

            // Envia email avisando os administradores do site
            var corpoAdmin = "<table style='font-family: Tahoma, Helvetica, Arial, sans-serif;'>  <tbody>   <tr>    <td>     <h1>Aviso do Sistema!</h1>    </td>    <td></td>   </tr>   <tr>    <td>Pedido n.º:</td>    <td>" + String.Format("{0:000000}", pedidoId) +"</td>   </tr>   <tr>    <td>Data do Pedido:</td>    <td>" + DataPedido +"</td>   </tr>   <tr>    <td>Cliente:</td>    <td>" +  FuncaoUsuarios.NomeComepleto_PeloCod(UsuarioID) +"&nbsp;</td>   </tr>  </tbody> </table> <p><span style='color: #ff0000;'><strong>Nota:</strong>&nbsp;Segue abaixo cópia do email de confirmação do pedido enviado ao cliente.</span> </p> <hr />";
            if(copiaEmail)
            {
                corpoAdmin += Corpo;
            }
            WebMail.Send(to: "contato@celiajoias.com",subject: "Célia Jóias - Aviso de Pedido",
            body: corpoAdmin);

            // limpa o carrinho
            carrinho.Limpar();
            Response.Redirect("/compra/etapa-5");

            //---------------------------------------Fim Pedido Ok         






   //  }



}


    
}

 
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Célia Jóias - Compra (4º Etapa)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="ProteusThemes" />

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css' />
    
    <!-- Twitter Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/responsive.css" rel="stylesheet" />
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="js/rs-plugin/css/settings.css" type="text/css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <!-- main styles -->
     
    <link href="/stylesheets/main.css" rel="stylesheet" />
     
    

    <!-- Modernizr -->
    <script src="js/modernizr.custom.56918.js"></script>    

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch/144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch/72.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch/57.png" />
    <link rel="shortcut icon" href="/images/apple-touch/57.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

   
  <body class="checkout-page">
   
    
     
    
    
    <div class="container">
        <div class="row">
            
            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">
                
                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">
                    	    
                    	    <!--  ==========  -->
							<!--  = Header =  -->
							<!--  ==========  -->
                    		<header>
                    		    <div class="row">
                    		    	<div class="span2">
                    		    		<a href="/"><img src="/images/logo-bw.png" alt="Webmarket Logo" width="48" height="48" /></a>
                    		    	</div>
                    		    	<div class="span6">
                    		    	    <div class="center-align">
                                            <h1><a href="/">Célia Jóias</a></h1>
                                            <hr />
                    		    	        <h2><span class="light">Confirmar </span>Compra</h2>
                    		    	    </div>
                    		    	</div>
                    		    	<div class="span2">
                    		    	    <div class="right-align">
                                            <a href="https://pagseguro.uol.com.br/para_voce/como_funciona.jhtml" target="_blank"><img src="/images/buttons/segura.png" alt="Compra Segura"  /> </a>
                    		    	    </div>
                    		    	</div>
                    		    </div>
                    		</header>
                    		
                    		<!--  ==========  -->
							<!--  = Steps =  -->
							<!--  ==========  -->
                    		<div class="checkout-steps">
                    		    <div class="clearfix">
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="/compra/etapa-1">Sacola de Compras</a>
                    		    	</div>
                    		    	<div class="step done">
                                        <div class="step-badge"><i class="icon-ok"></i></div>
                                        <a href="/compra/etapa-2">Identificação</a>
                                    </div>
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="/compra/etapa-3">Endereço de Entrega</a>
                    		    	</div>
                    		    	<div class="step active">
                    		    	    <div class="step-badge">4</div>
                    		    	    Confirmar Compra
                    		    	</div>
                    		    </div>
                    		</div> <!-- /steps -->
                    		
                            <form method="post" action="etapa-4" name="formulario01" enctype="multipart/form-data">
							<table class="table table-items">
							    <thead>
							    	<tr>
							    		<th colspan="2">Item</th>
							    		<th><div class="align-center">Quantidade</div></th>
							    		<th><div class="align-right">Preço</div></th>
							    	</tr>
							    </thead>
							    <tbody>
                                @foreach (var item in carrinho.Itens)
                                {<text>					         
							        <tr>
							        	<td class="image"><img STYLE="width:62px; height:62px" src="~/images/produtos/mini_@FuncaoProdutos.Produto_Imagem(item.ProdutoID)"  /></td>
							        	<td class="desc">@FuncaoProdutos.Produto_Titulo(item.ProdutoID) &nbsp; <a title="Remove Item" class="icon-remove-sign" href="#"></a></td>
							        	<td class="qty">
							        	    <input type="text" class="tiny-size" value="1" />
					            	    </td>
							        	<td class="price">
							        	    @String.Format("{0:C}", FuncaoProdutos.Produto_Preco(item.ProdutoID))
							        	</td>
							        </tr>
							    </text>}

							      <tr>
							        <td colspan="2" rowspan="2">
							        	    &nbsp;
							        	</td>
							        	<td class="stronger">Frete:</td>
							        	<td class="stronger"><div class="align-right">0.00</div></td>

							        </tr>

							        <tr>

							        	<td class="stronger">Subtotal:</td>
							        	<td class="stronger"><div class="size-16 align-right">@String.Format("{0:C}", carrinho.ValorTotal)</div></td>
							        </tr>

							    </tbody>
							</table>
							
                            

                            <div class="alert alert-info in fade">
                            
                            <h4>Endereço de Entrega</h4>
                            <p>@carrinho.Logradouro, @carrinho.Numero<br>
                            @if(carrinho.Complemento != ""    ){
                            <text>
                            @carrinho.Complemento <br>                                                            
                            </text>
                            }
                            @carrinho.Bairro<br>
                            @carrinho.Cidade<br>
                            @carrinho.Cep - @carrinho.Estado</p>


                            </div>




                            <hr />
							<p class="right-align">
                                 <input type="hidden" name="cep" size="2" value="@carrinho.Cep)" />
                                 <input type="submit"  class="btn btn-primary higher bold" id="button-confirm" value="Confirmar Compra">
							</p>

                            </form>

                    	</div>
                    </div>
                </div>
                
                
            </section> <!-- /main content -->
        
        </div>
    </div> <!-- /container -->
    
     
    
     
    


    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->
    
    <!--  = FB =  -->
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    
    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="js/jquery.min.js"><\/script>');
    }
    </script>
    
    <!--  = _ =  -->
    <script src="js/underscore/underscore-min.js" type="text/javascript"></script>
    
    <!--  = Bootstrap =  -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  = Slider Revolution =  -->
    <script src="js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    
    <!--  = CarouFredSel =  -->
    <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    
    <!--  = jQuery UI =  -->
    <script src="js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    
    <!--  = Isotope =  -->
    <script src="js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    
    <!--  = Tour =  -->
    <script src="js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    
    <!--  = PrettyPhoto =  -->
    <script src="js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    
    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
    <script type="text/javascript" src="js/goMap/js/jquery.gomap-1.3.2.min.js"></script>
    
    <!--  = Custom JS =  -->
    <script src="js/custom.js" type="text/javascript"></script>

  </body>
</html>

    
    
