@{
    
if (!WebSecurity.IsAuthenticated)
{
   Response.Redirect("~/");
}   
   
    
var usuarioAtual = WebSecurity.CurrentUserId;
var db = Database.Open("CeliaJoias");


//var SelectPedido = "select MAX (CodPedido) from Pedidos where CodUsuario = 3";

var row1 = db.QuerySingle("select MAX (CodPedido) from Pedidos where CodUsuario = "+usuarioAtual);
int CodUltimoPedido = row1.Column1;  

var SelectPedido = "select * from Pedidos where CodPedido = " + CodUltimoPedido;

var Nome = "";
var Email = "";

foreach (var row in db.Query("select * from UserProfile where UserId = " + usuarioAtual)) {	
Nome = row.Nome;
Email = row.Email;
}

int ContProdutos = 1;
string ItenProd = "";
string ItenDescricao = "";
string ItenValor = "";
string ItenQuantidade = "";
string ItenPeso = "";









    
}

 
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Célia Jóias - Compra (Finalizada)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="ProteusThemes" />

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css' />
    
    <!-- Twitter Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/responsive.css" rel="stylesheet" />
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="js/rs-plugin/css/settings.css" type="text/css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <!-- main styles -->
     
    <link href="/stylesheets/main.css" rel="stylesheet" />
     
    

    <!-- Modernizr -->
    <script src="js/modernizr.custom.56918.js"></script>    

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch/144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch/72.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch/57.png" />
    <link rel="shortcut icon" href="/images/apple-touch/57.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

   
  <body class="checkout-page">


   
<script type="text/javascript">
    var numero = 15;
    function chamar() { if (numero > 0) { document.getElementById('timers').innerHTML = --numero + ' segundos'; } }
    setInterval("chamar();", 1000);
    setTimeout("executar();", 15000);

    function executar() {        
        document.forms.formpagseguro.submit();
    }    

</script>    
     
    
    
    <div class="container">
        <div class="row">
            
            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">
                
                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">
                    	    
                    	    <!--  ==========  -->
							<!--  = Header =  -->
							<!--  ==========  -->
                    		<header>
                    		    <div class="row">
                    		    	<div class="span2">
                    		    		<a href="/"><img src="/images/logo-bw.png" alt="Webmarket Logo" width="48" height="48" /></a>
                    		    	</div>
                    		    	<div class="span6">
                    		    	    <div class="center-align">
                                            <h1><a href="/">Célia Jóias</a></h1>
                                            <hr />
                    		    	        <h2><span class="light">Confirmar </span>Compra</h2>
                    		    	    </div>
                    		    	</div>
                    		    	<div class="span2">
                    		    	    <div class="right-align">
                                            <a href="https://pagseguro.uol.com.br/para_voce/como_funciona.jhtml" target="_blank"><img src="/images/buttons/segura.png" alt="Compra Segura"  /> </a>
                    		    	    </div>
                    		    	</div>
                    		    </div>
                    		</header>
                    		
                    		<!--  ==========  -->
							<!--  = Steps =  -->
							<!--  ==========  -->
                    		<div class="checkout-steps">
                    		    <div class="clearfix">
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="#">Sacola de Compras</a>
                    		    	</div>
                    		    	<div class="step done">
                                        <div class="step-badge"><i class="icon-ok"></i></div>
                                        <a href="#">Identificação</a>
                                    </div>
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="#">Endereço de Entrega</a>
                    		    	</div>
                    		    	<div class="step active">
                                        <div class="step-badge"><i class="icon-ok"></i></div>  
                                         <a href="#">Compra Confirmada</a>                  		    	                        		    	  
                    		    	</div>
                    		    </div>
                    		</div> <!-- /steps -->
                    		
                    		<!--  ==========  -->
							<!--  = Selected Items =  -->
							<!--  ==========  -->
                            <h1>Compra Confirmada</h1>
                          

 

                                <!-----------------Pagamento-->
                                 
                                
                                <form name="formpagseguro"  method="post" action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  
      
                                @foreach (var row2 in db.Query(SelectPedido)) {	   
    
    
                                     <!-- Campos obrigatórios -->  
                                    <input type="hidden" name="receiverEmail" value="celiajoias@celiajoias.com">  
                                    <input type="hidden" name="currency" value="BRL">  
    
                                    foreach (var rowItens in db.Query( "select * from PedidoItens where CodPedido =" + CodUltimoPedido)) {	   
                                        ItenProd = "itemId"+ContProdutos;
                                        ItenDescricao = "itemDescription"+ContProdutos;
                                        ItenValor = "itemAmount"+ContProdutos;
                                        ItenQuantidade = "itemQuantity"+ContProdutos;
                                        ItenPeso = "itemWeight"+ContProdutos;

  
                                    <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                                    <input type="hidden" name="@ItenProd" value="@ContProdutos"> 
                                                                                                  
                                    <input type="hidden" name="@ItenDescricao" value="@FuncaoProdutos.Produto_Titulo(rowItens.CodProduto)">  
                                    <input type="hidden" name="@ItenValor" value="@FuncaoPagamento.ConverterValor(String.Format("{0:N}", rowItens.Preco))">  
                                    <input type="hidden" name="@ItenQuantidade" value="1">  
                                    <input type="hidden" name="@ItenPeso" value="1000">  




                                    ContProdutos ++;
                                     }
  
      
                                    <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                                    <input type="hidden" name="reference" value="REF1234">  
      
                                    <!-- Informações de frete (opcionais) -->  

                                    
                                    <input type="hidden" name="itemShippingCost1" value="10.00">  

                                    <input type="hidden" name="shippingType" value="1">  
                                    <input type="hidden" name="shippingAddressPostalCode" value="@row2.CEP">  
                                    <input type="hidden" name="shippingAddressStreet" value="@row2.Logradouro">  
                                    <input type="hidden" name="shippingAddressNumber" value="@row2.Numero">  
                                    <input type="hidden" name="shippingAddressComplement" value="@row2.Complemento">  
                                    <input type="hidden" name="shippingAddressDistrict" value="@row2.Bairro">  
                                    <input type="hidden" name="shippingAddressCity" value="@row2.Cidade">  
                                    <input type="hidden" name="shippingAddressState" value="@row2.UF">  
                                    <input type="hidden" name="shippingAddressCountry" value="@row2.Pais">  
      
                                    <!-- Dados do comprador (opcionais) -->  
                                    <input type="hidden" name="senderName" value="@Nome">  
                                    <input type="hidden" name="senderAreaCode" value="">  
                                    <input type="hidden" name="senderPhone" value="">  
                                    <input type="hidden" name="senderEmail" value="@Email">  
      
                                    <!-- submit do form (obrigatório) -->  
                                    <input type="image" name="submit"   
                                    src="image/pagseguro.jpg"   
                                    alt="Pague com PagSeguro">  

                                }      


                           <div class="row-fluid push-down-20">
                               <p>Muito obrigado pelo seu pedido. Um email de confirmação foi enviado para o seu email.<br>
                               Seu pedido será despachado de imediato após a confirmação de pagamento e deverá estar chegando dentro de 03 (três) dias úteis após o envio.</p>

                              <hr>
                            <div>
                            <div class="span2">
                            <i class="icon-fixed-width icon-5x"></i>
            
                            </div>
                            <div class="span10">
                               <h4>Redirecionamento</h4>                               
                               <p>Você será redirecionado para a página de pagamento em poucos instantes.</p>
                               <div id="timers">15 segundos</div>
                            </div>
                            
                        </div>
                        </div>

                                </form>  

                    	       <!----------Pagamento-->

                   
                            <hr>


							

							<p class="right-align">
							    <a href="/" class="btn btn-primary higher bold">Voltar o Site</a>
							</p>
                    	</div>
                    </div>
                </div>
                
                
            </section> <!-- /main content -->
        
        </div>
    </div> <!-- /container -->
    
     
    
     
    


    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->
    
    <!--  = FB =  -->
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    
    <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="js/jquery.min.js"><\/script>');
    }
    </script>
    
    <!--  = _ =  -->
    <script src="js/underscore/underscore-min.js" type="text/javascript"></script>
    
    <!--  = Bootstrap =  -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    
    <!--  = Slider Revolution =  -->
    <script src="js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    
    <!--  = CarouFredSel =  -->
    <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    
    <!--  = jQuery UI =  -->
    <script src="js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    
    <!--  = Isotope =  -->
    <script src="js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    
    <!--  = Tour =  -->
    <script src="js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    
    <!--  = PrettyPhoto =  -->
    <script src="js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    
    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
    <script type="text/javascript" src="js/goMap/js/jquery.gomap-1.3.2.min.js"></script>
    
    <!--  = Custom JS =  -->
    <script src="js/custom.js" type="text/javascript"></script>

  </body>
</html>

    
    
